body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 70px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.nav-cont {
    color: #f9760b;
}

.modal-title {
    color: #f9760b;
}

.text-orange {
    color: #f9760b;
}