body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    background: black;
}

div {
    display: block;
}

.logo {
    margin: auto;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 30px;
    color: white;
}

.back {
    position: absolute;
    right: 10%;
    top: 6%;
    color: #f9760b;
    font-size: 30px;
}

a {
    outline: 0 !important;
    cursor: pointer;
    text-decoration: none;
}

.abus {
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: grey;
    color: white;
}

.abus h1 {
    font-size: 50px;
    margin: -10px;
    color: #f9760b;
}

.abus p {
    margin: 100px;
    font-size: 30px;
    text-align: left;
}

.column {
    background-color: #fff;
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

h2 {
    font-size: 35px;
    color: #f9760b;
}

h3 {
    font-size: 30px;
    color: #f9760b;
}

li {
    font-size: medium;
}